{:min-bb-version "0.4.0"
 :deps           {day8/dev {:git/url "https://github.com/day8/dev.git"
                            :git/sha "f03095498ff53ddf4a3607975c7a9c45de0f5625"}}
 :tasks
 {:requires       ([babashka.fs :as fs]
                   [babashka.deps :as deps]
                   [clojure.string :as str]
                   [day8.dev :as dev])
  :init           (def clean-targets ["node_modules"
                                      "run/resources/public/compiled_dev "
                                      "run/resources/public/compiled_prod"
                                      "run/resources/public/compiled_test"])
  install         (shell "npm install")
  app-version     (print (dev/git-app-version!))
  clean           (doseq [dir clean-targets]
                    (println "bb clean: deleting" dir)
                    (fs/delete-tree dir))
  test            {:depends [clean install]
                   :task    (do (clojure "-M:demo:test" "-m" "shadow.cljs.devtools.cli"
                                         "compile" "browser-test")
                                (clojure "-X:test"))}
  release-clojars (do (dev/version-dotfile!)
                      (clojure "-M:clein" "deploy"))
  release-demo    {:depends [clean install]
                   :task    (clojure "-M:demo -m shadow.cljs.devtools.cli"
                                     "release" "demo")}
  watch           {:depends [install]
                   :task    (clojure "-M:demo -m shadow.cljs.devtools.cli"
                                     "watch" "demo" "browser-test")}
  watch-demo      {:depends [install]
                   :task    (clojure "-M:demo -m shadow.cljs.devtools.cli"
                                     "watch" "demo")}
  browser-test    {:depends [install]
                   :task    (clojure "-M:demo -m shadow.cljs.devtools.cli"
                                     "watch" "browser-test")}
  deploy-aws      {:depends [release-demo]
                   :task    (shell "aws s3 sync run/resources/public s3://re-demo/ --acl"
                                   "public-read" "--cache-control" "max-age=2592000,public")}}}
