{:paths   ["src" "test"]
 :aliases {:demo        {:extra-paths ["demo"]
                         :deps        {org.clojure/clojure         {:mvn/version "1.11.1"}
                                       org.clojure/clojurescript   {:mvn/version "1.11.132"
                                                                    :exclusions  [com.google.javascript/closure-compiler-unshaded
                                                                                  org.clojure/google-closure-library
                                                                                  org.clojure/google-closure-library-third-party]}
                                       thheller/shadow-cljs        {:mvn/version "2.28.2"}
                                       reagent/reagent             {:mvn/version "1.1.0"}
                                       org.clojure/core.async      {:mvn/version "1.3.618"}
                                       com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
                                       alandipert/storage-atom     {:mvn/version "2.0.1"}
                                       com.cognitect/transit-cljs  {:mvn/version "0.8.264"}
                                       clj-commons/secretary       {:mvn/version "1.2.4"}
                                       hashp/hashp                 {:mvn/version "0.2.2"}
                                       zprint/zprint               {:mvn/version "1.2.9"}
                                       day8.re-frame/re-frame-10x  {:mvn/version "1.9.10"}}}
           :provided    {:extra-deps {org.clojure/clojure         {:mvn/version "1.11.1"}
                                      org.clojure/clojurescript   {:mvn/version "1.11.132"
                                                                   :exclusions  [com.google.javascript/closure-compiler-unshaded
                                                                                 org.clojure/google-closure-library
                                                                                 org.clojure/google-closure-library-third-party]}
                                      thheller/shadow-cljs        {:mvn/version "2.28.2"}
                                      reagent/reagent             {:mvn/version "1.1.0"}
                                      org.clojure/core.async      {:mvn/version "1.3.618"}
                                      com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
                                      alandipert/storage-atom     {:mvn/version "2.0.1"}
                                      com.cognitect/transit-cljs  {:mvn/version "0.8.264"}
                                      clj-commons/secretary       {:mvn/version "1.2.4"}
                                      hashp/hashp                 {:mvn/version "0.2.2"}
                                      zprint/zprint               {:mvn/version "1.2.9"}
                                      day8.re-frame/re-frame-10x  {:mvn/version "1.9.10"}}}
           :clein       {:extra-deps {io.github.noahtheduke/clein {:mvn/version "0.4.1"}}
                         :main-opts  ["-m" "noahtheduke.clein"]}
           :clein/build {:lib           re-com/re-com
                         :main          re-com.core
                         :url           "https://github.com/day8/re-com"
                         :version       ".version"
                         :license       {:name "MIT"
                                         :url  "https://opensource.org/licenses/MIT"}
                         :src-dirs      ["src"]
                         :resource-dirs ["run/resources"]}}}
