{:deps  {:aliases [:demo]}
 :nrepl {:port 7777}

 :builds {:demo
          {:target           :browser
           :modules          {:demo {:init-fn re-demo.core/mount-demo}}
           :closure-defines  {;; For production builds of the demo app, set goog.DEBUG
                              ;; to be true so that the debugging demo page works as expected.
                              goog.DEBUG                             true
                              re-com.config/force-include-args-desc? true}
           :compiler-options {;; For production builds of the demo app, keep the component name
                              ;; symbols for display in validation error logging.
                              :pseudo-names true
                              :externs      ["externs/detect-element-resize-externs.js"]}
           :dev              {:asset-path      "/compiled_dev/"
                              :output-dir      "run/resources/public/compiled_dev/"
                              :closure-defines {;; When re-com produces validation errors it tries to provide links
                                                ;; to source code. These links require that you provide the root URL
                                                ;; to the ClojureScript compiler output with source maps.
                                                re-com.config/root-url-for-compiler-output
                                                "http://localhost:3449/compiled_dev/cljs-runtime/"}
                              :compiler-options
                              {:external-config {:devtools/config {:features-to-install [:formatters :hints]}}}}
           :release          {:output-dir "run/resources/public/compiled_prod/"}
           :devtools         {:http-port        3449
                              :http-root        "run/resources/public"
                              :push-state/index "index_dev.html"
                              :preloads         [hashp.core]}}

          :browser-test {:target           :browser-test
                         :ns-regexp        "-test$"
                         :test-dir         "run/resources/public/compiled_test/"
                         :compiler-options {:externs         ["externs/detect-element-resize-externs.js"]
                                            :external-config {:devtools/config {:features-to-install [:formatters :hints]}}}
                         :devtools         {:http-port 8021
                                            :http-root "run/resources/public/compiled_test/"
                                            :preloads  [hashp.core]}}}}
